venv/
*.pyc
.idea/
.DS_STORE
__pycache__/
git.zsh
.coverage
test_log.txt
app/static/event_picture/*
app/static/user_picture/*
!app/static/event_picture/default_cover_picture.png
!app/static/user_picture/default_avatar.png
