venv/
*.pyc
.idea/
.DS_STORE
__pycache__/
git.zsh
log.txt
.coverage
test_log.txt
app/static/event_picture/*
app/static/user_picture/*
!app/static/event_picture/default_event.png
!app/static/user_picture/default_avatar.png
htmlcov/
