{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Demo App
{% endblock %}


{% block styles %}
{{super()}}

<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">

{% endblock %}




{% block content %}

<div class="container">
  <div class="starter-template">
    <h1>Add Friends</h1>
    <p class="lead">THIS IS THE Add Friends DETAIL <br> BELOW ARE THE users</p>

    {% for item in userlist %}

        <div class="thumbnail">
          <div class="caption">
             <div class="media">
                <div class="media-left">
                  <h4 class="media-heading">{{ item[1] }}</h4>
                </div>
                <div class="media-body media-left">
                    <h4 class="media-heading">{{ item[2] }}</h4>
                </div>
                 <div class="media-right" >
{#                    <p>{{ item[3] }} </p>#}
                         {% if item[3] == 0 %}
                            <button class="btn btn-primary pull-right" type="button" disabled="disabled">Added</button>
                        {% else %}
                    <button class="btn btn-default " type="button" onclick="window.location.href='{{ url_for( 'add', userid = item[0] ) }}';">ADD</button>
                         {% endif %}


                </div>
        </div>
      </div>

    </div>

        {% endfor %}

  </div>
</div><!-- /.container -->
{% endblock %}