{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Change Profile
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='starter-template.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='change_profile.css') }}">
    <script type="text/javascript" src="{{ url_for("static",filename="change_profile.js") }}" charset="UTF-8"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="starter-template">
            <h1>Change Avatar Picture</h1>
            <br>
            <br>
            <br>
            <input type="file" id="uploadedFile" onchange="doAnalysis()">
            <div id="file_display"></div>
        </div>
    </div><!-- /.container -->

    <script>
        function doAnalysis() {
            var x = document.getElementById("uploadedFile");
            var file = x.files[0];

            display_file(file);

            var formData = new FormData();
            formData.append('file', file, file.name);

            var xhr = new XMLHttpRequest();
            var url = "/really_change";

            xhr.open("POST", url, true);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    alert('Uploaded Successfully');
                } else {
                    alert('An error occurred, upload failed!');
                }
            };
            xhr.send(formData);
        }

        function display_file(file) {
            var file_display = document.getElementById('file_display');
            var src = URL.createObjectURL(file);

            file_display.innerHTML = "";
            file_display.innerHTML = ['<img style="width: 100px" src="', src, '"/>'].join('');
        }
    </script>
{% endblock %}