{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Demo App
{% endblock %}


{% block styles %}
{{super()}}

<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='change_profile.css')}}">
<script type="text/javascript" src="{{ url_for("static",filename="change_profile.js") }}" charset="UTF-8"></script>

{% endblock %}




{% block content %}


<div class="container">
<form class="bs-example bs-example-form" method="POST" action='/really_change' enctype="multipart/form-data" >

  <div class="starter-template">
<h1>Change Avatar Picture</h1>
      <br>
      <br>
      <br>

      <center>
<div class="profile" align="center">
        <div class="photo">

        <label class="btn btn-default">
            Upload Cover Page <input style="display: none !important; " name = "file" type="file" >
        </label>


            <input type="file"  accept="image/*">
            <div class="photo__helper">
                <div class="photo__frame photo__frame--circle">
                    <canvas class="photo__canvas"></canvas>
                    <div class="message is-empty">
                        <p class="message--desktop">Drop your photo here or browse your computer.</p>
                        <p class="message--mobile">Tap here to select your picture.</p>
                    </div>
                    <div class="message is-loading">
                        <i class="fa fa-2x fa-spin fa-spinner"></i>
                    </div>
                    <div class="message is-dragover">
                        <i class="fa fa-2x fa-cloud-upload"></i>
                        <p>Drop your photo</p>
                    </div>
                    <div class="message is-wrong-file-type">
                        <p>Only images allowed.</p>
                        <p class="message--desktop">Drop your photo here or browse your computer.</p>
                        <p class="message--mobile">Tap here to select your picture.</p>
                    </div>
                    <div class="message is-wrong-image-size">
                        <p>Your photo must be larger than 350px.</p>
                    </div>
                </div>
            </div>

            <div class="photo__options hide">
                <div class="photo__zoom">
                    <input type="range" class="zoom-handler">
                </div><a href="javascript:;" class="remove"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>
</center>

    <hr>
    <button type="button" id="previewBtn">Preview</button>
    <hr>
    <img src="" alt="" class="preview">
    <img src="" alt="" class="preview preview--rounded">
{#    <input type="file" name="picture" src="" alt="" class="preview preview--rounded" >#}
{#    <button class="btn btn-default btn-lg" type="submit">Create this event</button>#}
        <input type=submit value=Upload>
  </div>
</form>
</div><!-- /.container -->

{% endblock %}