{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Home
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='starter-template.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="starter-template">
            <h1>Welcome, {{ username }}!</h1>
            <div class="row">
                {% for item in event_list -%}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            {% if item[7] %}
                                <img src="{{ url_for('static', filename='event_picture/' + item[0]|string + '.png') }}"
                                     width=340, height=250>
                            {% else %}
                                <img src="{{ url_for('static', filename='event_picture/default_event.png') }}"
                                     width=340, height=250>
                            {% endif %}
                            <div class="caption">
                                <h3>{{ item[1] }}</h3>
                                <p>Start Time: {{ item[2] }}</p>
                                <p>Location: {{ item[4] }}</p>
                                <p>Creator: {{ creators[ item[6]] }}</p>
                                <button class="btn btn-default" type="button"
                                        onclick="window.location.href='{{ url_for( 'event_detail', eventid = item[0] ) }}';">
                                    Event Details
                                </button>
                            </div>
                        </div>
                    </div>
                {%- endfor %}
            </div>
        </div>
    </div><!-- /.container -->
{% endblock %}