{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
    <div class="container">

      <form class="form-signin" method="POST" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

          <h3>Not Yet have an account? Sign UP NOW</h3>
{#          <a href="{{ url_for('signup') }}">Logout</a>#}
          <button class="btn btn-lg btn-primary btn-block" type="button" onclick="window.location.href='{{ url_for( 'signup') }}';">Sign Up</button>
      </form>

    </div> <!-- /container -->
{% endblock %}