{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Demo App
{% endblock %}


{% block styles %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('.static', filename='starter-template.css') }}">

{% endblock %}




{% block content %}


    <div class="container">


        <div class="starter-template">
            <h1>User Profile</h1>
            <p class="lead">THIS IS THE HOME PAGE USER WILL SEE AFTER LOG IN<br> BELOW ARE UER PROFILE</p>
            <div class="row">
                <h2> Event created</h2>
                {% for item in event_created -%}

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                                       {% if item[7] %}

                    <img src="{{url_for('static', filename='event_picture/' + item[0]|string + '.png')}}" width='340', height='250' >
                            {% else %}
<img src="{{url_for('static', filename='event_picture/default_event.png')}}" width=340, height=250 >
    {% endif %}
                            <div class="caption">
                                <h3>{{ item[1] }}</h3>
                                <p>{{ item[2] }}</p>
                                <p>{{ item[3] }}</p>
                                <p>{{ item[4] }}</p>
                                <p>{{ item[5] }}</p>
                                {#                                  <p>{{ creators[ item[6]] }}</p>#}
                                <button class="btn btn-default" type="button"
                                        onclick="window.location.href='{{ url_for( 'event_detail', eventid = item[0] ) }}';">
                                    Event Detail
                                </button>

                            </div>
                        </div>
                    </div>
                {%- endfor %}


            </div>
            <div class="row">
                <h2> Event participated</h2>
                {% for item in events_participated -%}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                                                       {% if item[7] %}
                    <img src="{{url_for('static', filename='event_picture/' + item[0]|string + '.png')}}" width=340, height=250 >
                            {% else %}
<img src="{{url_for('static', filename='event_picture/default_event.png')}}" width=340, height=250 >
    {% endif %}
                            <div class="caption">

                                <h3>{{ item[1] }}</h3>
                                <p>{{ item[2] }}</p>
                                <p>{{ item[3] }}</p>
                                <p>{{ item[4] }}</p>
                                <p>{{ item[5] }}</p>
                                <p>{{ creators[ item[6]] }}</p>
                                <button class="btn btn-default" type="button"
                                        onclick="window.location.href='{{ url_for( 'event_detail', eventid = item[0] ) }}';">
                                    Event Detail
                                </button>
                            </div>
                        </div>
                    </div>
                {%- endfor %}
            </div>
        </div>


    </div><!-- /.container -->
{% endblock %}