{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Demo App
{% endblock %}


{% block styles %}
{{super()}}

<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">

{% endblock %}




{% block content %}


<div class="container">
  <div class="starter-template">
    <h1>Add Friends</h1>
        <p class="lead">THIS IS THE Friends DETAIL USER WILL SEE AFTER CLICK EVENT DETAIL<br> BELOW ARE THE Friends DETAIL</p>

    {% for item in userlist %}

        <div class="thumbnail">
          <div class="caption">
             <div class="media">
                <div class="media-left">
                  <h4 class="media-heading">{{ item[0] }}</h4>
                </div>
                <div class="media-body media-left">
                    <h4 class="media-heading">{{ item[1] }}</h4>
                </div>
                 <div class="media-right" >
                    <button class="btn btn-default " type="button" onclick="window.location.href='{{ url_for( 'profile', userid = 1 ) }}';">View More</button>
                </div>
        </div>
      </div>

    </div>

        {% endfor %}

  </div>
</div><!-- /.container -->

{% endblock %}