{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Friends
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='starter-template.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="starter-template">
            <h2>My Followers</h2>
            {% if followers %}
                {% for item in followers %}
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="media">
                                <div class="media-left">
                                    <h4 class="media-heading">{{ item[1] }}</h4>
                                </div>
                                <div class="media-body media-left">
                                    <h4 class="media-heading">{{ item[2] }}</h4>
                                </div>
                                <div class="media-right">
                                    <button class="btn btn-default " type="button"
                                            onclick="window.location.href='{{ url_for( 'profile', userid = item[0] ) }}';">
                                        View More
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No followers</p>
            {% endif %}
            <h2>People I follow</h2>
            {% if followings %}
                {% for item in followings %}
                    <div class="thumbnail">
                        <div class="caption">
                            <div class="media">
                                <div class="media-left">
                                    <h4 class="media-heading">{{ item[1] }}</h4>
                                </div>
                                <div class="media-body media-left">
                                    <h4 class="media-heading">{{ item[2] }}</h4>
                                </div>
                                <div class="media-right">
                                    <button class="btn btn-default " type="button"
                                            onclick="window.location.href='{{ url_for( 'profile', userid = item[0]  ) }}';">
                                        View More
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Following no one</p>
            {% endif %}
        </div>
    </div><!-- /.container -->
{% endblock %}